{% extends "base.html" %}

{% block "title" %}{{ anime.slug }}{% endblock %}

{% block "content" %}
<div id="title-header">
	<h1 id="anime-title">{{ anime.slug }}</h1>
	<h2>
		[
		<a href="http://anidb.net/a{{anime.anidb.id}}">AniDB</a> |
		<a href="http://anime-planet.com/anime/{{anime.ap.slug}}">A-P</a> |
		<a href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id={{anime.ann.id}}">ANN</a>
		]
	</h2>
</div>
<div id="anidb" class="infobox">
	Title: {{ anime.anidb.title }}<br />
	Type: {{ anime.anidb.type }}<br />
	Raw Average Rating: {{ anime.anidb.rawAverageRating }}<br />
	Weighted Average Rating: {{ anime.anidb.weightedAverageRating }}<br />
	Review Rating: {{ anime.anidb.reviewRating }}<br />
	Episodes: {{ anime.anidb.episodeCount }}<br />
	Run: {{ anime.anidb.startDate }} &ndash; {{ anime.anidb.endDate }}<br />
	{{ anime.anidb.description }}<br />
	Categories: {{ anime.anidb.categories }}<br />
	Tags: {{ anime.anidb.tags }}<br />
	{% if anime.anidb.website %}
		<a href="{{ anime.anidb.website }}">Official Website</a><br />
	{% endif %}
</div>
<div id="ap" class="infobox">
	Title: {{ anime.ap.title }}<br />
	Type: {{ anime.ap.type }}<br />
	Episodes: {{ anime.ap.episodeCount }}<br />
	Studio: {{ anime.ap.studio }}<br />
	Run: {{ anime.ap.startDate }} &ndash; {{ anime.ap.endDate }}<br />
	Rating: {{ anime.ap.rating }}<br />
	Rank: {{ anime.ap.rank }}<br />
	{{ anime.ap.description }}
</div>
<div id="ann" class="infobox">
	Episodes: {{ anime.ann.episodeCount }}<br />
	Run: {{ anime.ann.startDate }} &ndash; {{ anime.ann.endDate }}<br />
	{{ anime.ann.description }}
</div>

{% endblock %}

